@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* :root {
  --transition: all 5s ease;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --clr-primary: #2680c0;
  --clr-primary-5: hsl(205, 31%, 53%);
  --clr-#4836C8-dark: hsl(360, 67%, 44%);
  --clr-#4836C8-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
html {
  --background: #c4c4c4c4;
  --page: #ffffff;
  --mainFont: "Lato", sans-serif;
  --baseColor: #4836C8;
  --accent: #6246D5;
  --button: #4736c8e0;
  --transparent: rgba(101, 156, 240, 0.1);
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--page);
  font-family: var(--mainFont);
}
.form-wrap{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_wrap{
  margin-top: 20px;
}

 .input_wrap input, select{
  width: 100%;
  height: 3rem;
  border:  2px solid  #6246D5;
  border-radius: 8px;
  padding: 10px;
}
.input_wrap label{
  color: #6246D5 !important;
}

button.btn{
  background-color: #6246D5 !important;
  color: #ffffff;
  text-align: center;

}
.error {
  color: red;
  font-size: 10px;
  text-align: left;
  font-weight: 600;
}
.success {
  color: green;
  font-size: 10px;
  text-align: left;
  font-weight: 600;
}
.input_wrap.error small {
  color: red;
  visibility: visible;
}

.showhide{
 display: none;

}
